.toast {
  font-size: 2.1em;
  justify-content: start;
  background-color: #2a2b3b;
  display: block;
  border-radius: 10px;
  box-shadow: 1px 7px 14px -5px #2a2b3b;
  position: fixed;
  text-align: center;
  z-index: 999;
  width: 1100px;
  height: 500px;

  animation: slide-in 0.5s ease-out forwards;
}
.toast-content {
  display: flex;
  margin-left: 100px;

  margin-top: 25px;
  justify-content: start;
}

.before {
  width: 5px;
  height: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

p:first-child {
  font-weight: bold;
  margin-top: 15px;
}

.message {
  margin-top: 15px;
  font-size: 0.8em;
  color: #878787;
}

.close {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  transform: translate(25px, -5px);
  font-size: 2.5em;
  /*   transform: scaleX(1.2); */
  color: #dddddd;
  cursor: pointer;
}

/* .close:before {
content: '';
align-self: stretch;
transform: translate(-10px,-10px);
height: 90px;
width:.5px;
position: absolute;
background: #aaaaaa;
filter: drop-shadow(1px 0px 1px #878787);
cursor: default;
} */

@keyframes toast {
  0% {
      opacity: 1;
  }
  100% {
      transform: translate(0, -50px);

      opacity: 0;
  }
}

.toast-area {
  z-index: 10;
  height: 80vh;
  position: relative;

  display: flex;
  flex-direction: column;
}

.toast-area > * {
  margin-top: 1em;
  position: relative;
}

@keyframes slide-in {
  0% {
      filter: blur(5px);
      -webkit-filter: blur(5px);
      transform: translate(0, -10px);
      animation: pulse 10s;
      box-shadow: 0 0 0 2em transparent;
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
